@model HR.Data.Models.EvalSection
    <div style="margin-top:60px;margin-bottom:60px">
        <div style="text-align:center">
            <h3>
                @ViewBag.SectionIndex. @Html.DisplayFor(model => model.Header)
            </h3>
        </div>
        @foreach (var question in Model.questions)
        {
            int index = Model.questions.IndexOf(question) + 1;
            ViewBag.QuestionIndex = (string)(ViewBag.SectionIndex) + index;
            if (Model.SectionType == "matrix")
            {
                @Html.Partial("_LinkertQuestion", question)
            }
            if (Model.SectionType == "text")
            {
                @Html.Partial("_TextQuestion", question)
            }
        }
    </div>
