@model HR.Data.Models.EvalSection
    <div>
        <div style="text-align:center">
            <h3>
                @Html.DisplayFor(model => model.Title)
            </h3>
        </div>
        @foreach (var question in Model.questions)
        {
            if (Model.SectionType == "matrix")
            {
                @Html.Partial("_LinkertQuestion", question)
            }
            if (Model.SectionType == "text")
            {
                @Html.Partial("_TextQuestion", question)
            }
        }
    </div>
