@model HR.Data.Models.Evaluation

@{
    ViewBag.Title = "Index";
}
<table align="center">
    <th>
        <h2>Αξιολόγηση 2020</h2>
    </th>
</table>

@if (ViewBag.Error != null)
{
    <input type="hidden" id="evalErrorControl"/>
}

@using (Html.BeginForm(null,null,FormMethod.Post,new { id="evalform"}))
{
    <div hidden="hidden">
        @Html.EditorForModel()
        @for (int i = 0; i < Model.ScoreTable.Count; i++)
        {
            Html.EditorFor(Model => Model.ScoreTable[i].Min);
            Html.EditorFor(Model => Model.ScoreTable[i].Max);
            Html.EditorFor(Model => Model.ScoreTable[i].Text);
        }
    </div>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @foreach (var item in Model.Sections)
        {
            @Html.Partial("_Section", item)
        }
    </div>

    <table align="center">
        <tr>
            <td>
                @if (ViewBag.Disabled == "disabled")
                {
                    <input type="button" value="Επιστροφή" class="btn btn-primary" onclick="location.href = '@(Url.Action("Details", "Employees", new { id = Model.EvalueeID }))'"/>
                }
                else
                {
                    <input type="submit" id="submitBtn" value="Αποθήκευση" class="btn btn-primary"/>
                }
            </td>
        </tr>
    </table>
}
