@model HR.Data.Models.Evaluation

@{
    ViewBag.Title = "Index";
}
<table align="center">
    <td>
        <h2>Αξιολόγηση 2020</h2>
    </td>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @foreach (var item in Model.Sections)
        {
            @Html.Partial("_Section", item)
        }
    </div>

    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Αποθήκευση" class="btn btn-primary" />
        </div>
    </div>*@

    <table align="center">
        <tr>
            <td>
                <input type="submit" value="Αποθήκευση" class="btn btn-primary" />
                @*<input type="submit" value="Υποβολή" class="btn btn-primary" onclick="location.href = '@(Url.Action("Save", "Evaluation"))'" />*@
            </td>
        </tr>
    </table>
}
