
body {
    background: rgba(0, 0, 0, 0) url("../../Content/Images/wavebg.png") repeat scroll 0% 0%;
    /*background-image: url("../../Content/Images/wavebg.png");
    background-size: 50px;
    background-size: cover;
    background-repeat: repeat;*/
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #2b7588;
  background-color: transparent;
}

.profile-image{
    display:block;
    margin:auto;
    border-width:2px;
    border:groove;
    border-color:#42aac3;
}

.panel-default > .panel-heading{
    background-color:#d8eef3;
}

.panel-default > .panel-body{
    background-color:whitesmoke;
}

.navbar-li{
    font-size:17px;
}


